# By default you will have NODE_ENV defined for you, and any other environment variables starting with REACT_APP_.
REACT_APP_API_URL=http://localhost:3000/api
REACT_APP_PUBLIC_VAPID_KEY=BIdIG7-p9NEbH5ZBejVAcEbrCJL5GdpOleIpC96PInfVFjWSWOnuS2c6pkx_Y8r5dxp4B7lSxczSileHLN9iOBA
