.custom-dialog {
    .modal-dialog {

        margin-left:auto;
        margin-right: auto;
        width: 80%;
        height:auto;
        max-width: none!important;

    }
}

.modal_content {
	.logout-button{
		text-align: center !important;
		width: 100%;
		background-color: #1f1a70 ;
		border: none;
	}
    .noproject{
        width: 100%;
        .row{
			justify-content: center;
			text-align: center;
        }
    }
}